<% @inventories.each do |inventory| %>
  <div>
    <%= inventory.name %>
    <%= inventory.description %>
    <% if can? :manage, inventory %>
    <%= button_to 'Remove', inventory_path(inventory), method: :delete %>
    <% end %>
  </div>
<% end %>