<div onclick="window.location='/recipes/<%=recipe.id%>'">
  <p><%= recipe.name %></p>
  <p><%= recipe.description %></p>
  <% if can? :manage, recipe %>
    <%= button_to 'Remove', recipe_path(recipe), method: :delete %>
  <% end %>
  <br><br>
</div>