<nav>
  <ul>
    <li><a href="/">Public recipes</a></li>
    <li><a href="/recipes">My recipes</a></li>
    <li><a href="/foods">My food</a></li>
    <li><a href="/inventories">My inventories</a></li>
  </ul>
</nav>