<h1>Here's a list of all the foods:</h1>
<%#= button_to "Add a new food to the menu!", this button should lead youy to the shopping cart, method: :get %>
<%= render partial: 'food', collection: @foods%>